spring:
  application:
    name: admin-server
  boot:
    admin:
      discovery.enabled: true
server:
  port: 8085

management:
  endpoints:
    web.exposure.include: "*"
  endpoint:
    health:
      show-details: always

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVER_URL:http://localhost:8761/eureka}